.container{
  color:green;
  font-size: 50px;

  &__text1{
    color:red;
  }

  &__text2{
    font-size: 25px;
  }

  &__text3{
    background-color: gray;
  }

  &__text4{
    background-color: blue;
  }
}