.apartment__info {
  border-top: 1px dotted #c2c2c2;
  border-bottom: 1px dotted #c2c2c2;
  display: flex;

  &__child {
    flex-grow: 1;
    padding: 1rem;
    margin: 5px 0;
    &:first-child {
      padding-left: 0;
      border-right: 1px dotted #c2c2c2;
    }
    &:last-child {
      border-left: 1px dotted #c2c2c2;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
}