.container {
  margin: 10px auto;
  max-width: 1024px;
  border-top: 5px solid #999;
  &__inner {
    display: flex;
  }
}

.outlookWrapper {
  width: 240px;
  height: 240px;
  position: relative;
  margin-top: 10px;
}

.room {
  margin-top: 30px;

  

  &__wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid #e0e0e0;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    td {
      text-align: center;
      padding: 10px;
    }

    &__head,
    &__body {
      list-style: none;
      padding: 10px;
    }

    &__head {
      background-color: #eee;
      color: #a0a0a0;
      font-weight: normal;
      text-align: center;
      display: table-row;
    }
  }
}
